body{
    background-color: #16423C;
    color: #C4DAD2;
}

header{

    text-align: center;
}

.icone{
    height: 15vh;
    width: 15vw;
}

.lista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #6A9C89;
    gap: 25px;

    height: 60px;
    align-items: center;
}

.menus{

    padding: 10px;
}
.foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    background-color: #6A9C89;
    justify-content: center;
}

.foot li {
    margin-bottom: 5px;
}

.credit {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Espaço acima do texto 'Desenvolvido por Rb' */
}
